<h1> Contact Form</h1>
<form
  (ngSubmit)="onSubmit()"
  [formGroup]="contactForm"
  >
  <div
    class="mb-4">
    <label
      for=""
      class="form-label">
      Name
    </label>
    <input
      type="text"
      class="form-control"
      name="name"
      required formControlName="name"
      >
    <div
      *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']"
      class="alert alert-danger">
      Campo requerido
    </div>
    <div
      *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength']"
      class="alert alert-danger">
      Nombre menor de 3 letras
    </div>
  </div>
  <div
    class="mb-4 form-check">
    <label
      for="checkAdult"
      class="form-label">
      Tienes 18 años?
    </label>
    <input
      type="checkbox"
      class="form-check-input"
      id="checkAdult"
      name="checkAdult"
      required formControlName="checkAdult"
      >
    <div
      *ngIf="contactForm.get('checkAdult')?.touched && contactForm.get('checkAdult')?.errors?.['required']"
      class="alert alert-danger">
      Campo requerido
    </div>
  </div>
  <div
    class="mb-4">
    <label
      for="departament"
      class="form-label">
      Departament
    </label>
    <select
      name="departament"
      id="departament"
      class="form-select form-select-sm"
      formControlName="departament"
      >
      <option selected>Abrir para seleccionar del menu</option>
      <option value="marketing">Marketing</option>
      <option value="ventas">Ventas</option>
      <option value="otros">otros</option>
    </select>

  </div>
  <div
    class="mb-4">
    <label
      for="comment"
      class="form-label">
      Comentarios
    </label>
    <textarea
      class="form-control"
      name="comment"
      id="comment"
      rows="4"
      placeholder="Comentarios"
      formControlName="comment"
      required
      >
    </textarea>
    <div
      *ngIf="contactForm.get('comment')?.touched && contactForm.get('comment')?.errors?.['required']"
      class="alert alert-danger">
      Campo requerido
    </div>
  </div>
  <div
    class="d-grid gap-2 col-4 float-end">
    <button
      type="submit"
      class="btn btn-info btn-lg" [disabled]="contactForm.invalid">
      Comentarios
    </button>
  </div>
</form>

