<pre>{{contactForm.value | json }}</pre>
<h1>
  Contact Form
</h1>
<form
  (ngSubmit)="onSubmit(contactForm)"
  #contactForm="ngForm">
  <div
    class="mb-4">
    <label
      for=""
      class="form-label">
      Name
    </label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      [(ngModel)]="model.name"
      required
      #name="ngModel">
    <div
      [hidden]="name.valid || name.pristine"
      class="alert alert-danger">
      Campo requerido
    </div>
  </div>
  <div
    class="mb-4 form-check">
    <label
      for="checkAdult"
      class="form-label">
      Tienes 18 años?
    </label>
    <input
      type="checkbox"
      class="form-check-input"
      id="checkAdult"
      name="checkAdult"
      [(ngModel)]="model.checkAdult"
      required
      #checkAdult="ngModel">
    <div
      [hidden]="checkAdult.valid || checkAdult.pristine"
      class="alert alert-danger">
      Campo requerido
    </div>
  </div>
  <div
    class="mb-4">
    <label
      for="departament"
      class="form-label">
      Departament
    </label>
    <select
      name="departament"
      id="departament"
      class="form-select form-select-sm"
      [(ngModel)]="model.department"
      #departament="ngModel">
      <option selected>Abrir para seleccionar del menu</option>
      <option value="marketing">Marketing</option>
      <option value="ventas">Ventas</option>
      <option value="otros">otros</option>
    </select>
    <div
      [hidden]="departament.valid || departament.pristine"
      class="alert alert-danger">
      Campo requerido
    </div>
  </div>
  <div
    class="mb-4">
    <label
      for="comment"
      class="form-label">
      Comentarios
    </label>
    <textarea
      [(ngModel)]="model.comment"
      class="form-control"
      name="comment"
      id="comment"
      rows="4"
      placeholder="Comentarios"
      required
      #comment="ngModel">
    </textarea>
    <div
      [hidden]="comment.valid || comment.pristine"
      class="alert alert-danger">
      Campo requerido
    </div>
  </div>
  <div
    class="d-grid gap-2 col-4 float-end">
    <button
      type="submit"
      class="btn btn-info btn-lg" [disabled]="contactForm.invalid">
      Comentarios
    </button>
  </div>
</form>

